<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose your adventure</title>
    <style>
        body {
            margin: 0 10%;
        }
    </style>
</head>
<body>
    <h1>{{.Title}}</h1>
    {{range .Story}}
        <p>{{.}}</p>
    {{end}}

    <h3>Choose your fate</h3>
    <ul>
        {{range .Options}}
            <li><a href="/{{.Arc}}">{{.Text}}</a></li>        
        {{end}}
    </ul>    
</body>
</html>